.contanor {
    display: flex;
    flex-direction: row;
    padding: 20px;
    text-align: center;
}
.box {
    border: 2px solid grey;
    border-radius: 30px;
    padding: 30px;
    margin-right: 50px;
    width: 10vh;
}
.box:last-child {
    margin-right: 0;
}
.card{
    border: 2px solid #02343F;
    background-color: #F0EDCC;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}
/* ----------------------------------------------------------------- */
.draggingCard {
    border-color: red;
}
.overBox {
    background-color: cyan;
}
.overCard {
    background-color: orange;
}